body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f4f2;
}

header {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.project-list {
    padding: 50px;
    text-align: center;
}

.project-item {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.project-item a {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #1abc9c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
